<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
<title>Insert title here</title>
<link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<link type="text/css" th:href="@{/css/styles.css}" rel="stylesheet"
	media="screen" />
</head>
<div th:fragment="before-body-scripts">
	<script th:src="@{webjars/jquery/2.2.4/jquery.min.js}"></script>
	<script th:src="@{webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</div>
</html>